language: clojure
lein: 2.7.1
sudo: false
script:
  - "lein kibit src test"
  - "lein eastwood"
  - "lein do clean, test, clean, compile :all"
  - "lein cloverage"
jdk: [oraclejdk8]
addons:
  debug: true
  artifacts: true
